* :not(button) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.container2 {
  margin: 15px;
  /* background-image:url("../public/Images/"); */
}
.container{
  padding-top: 10px;
  border: 1px solid red;
}

.App {
  text-align: center;
}

label {
  margin: 5px;
}

form {
  /* display: flex;
  flex-wrap: wrap;
  justify-content:space-around; */
  margin: 10px 0px;
  align-items: center;
}

form > div {
  margin: 5px;
}

input {
  height: 30px;
  width: 50%;
}

form > .count > button {
  font-size: large;
  border-style: none;
  height: 31px;
  border-radius:25%;
  padding: 0px 15px;

  background: linear-gradient(0.25turn, rgb(28, 159, 247), rgb(94, 0, 128));
  color: antiquewhite;
  margin: 0px 5px;
}
select{
  height: 30px;
  width: 40%;
}
#count {
  text-align: center;
  width: 35%;
}
#price,
#total {
  text-align: center;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.price>button{
  margin-left: 50px;}

form > .ptnPill>button,
.btnPrint {
  padding: 10px;
  background: linear-gradient(0.25turn, rgb(28, 159, 247), rgb(94, 0, 128));
  margin: 5px;
  color: aliceblue;
  width: 200px;
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 50%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.TotalBill {
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
  border: thick double #0b0e10;
  width: 50%;
}

.TotalBill > span {
  border: 1px solid #030505;
  padding: 5px;
}

@media print {
  * {
    margin: 0;
    padding: 0;
    font-size: 12pt;
  }
  .container,
  .btnPrint {
    display: none;
  }

  @page {
    margin: 2cm;
  }
}

footer {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 70%;
}
